:root {
  --foreground: #eeeeee;
  --background: #222222;
  --secondary-background: #333333;
  --accent-color: #7ddf64;
}

/*
 * Hvordan bruke variabler i css:
 *
 * Eksempel, farge paragraf
 *
 * p {
 *   color: var(--foreground);
 * }
 */
